<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/hibernate01?createDatabaseIfNotExist=true</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">kanchan</property>
 		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="connection.pool_size">2</property>
		<mapping class="training.entity.Person" />

		
		<!-- apping class="training.entity.Training" />
		
		
		<mapping class="training.entity.Television" />
		<mapping class="training.entity.Product" />
		<mapping class="training.entity.CellPhone" />

		<mapping class="training.entity.College" />
		<mapping class="training.entity.Customer" />
		
		<mapping class="training.entity.EmployeeEntity" />
		<mapping class="training.entity.AccountEntity" />
		 -->  
<!-- 
		<mapping class="training.entity.Product" />
		<mapping class="training.entity.Category" />
		<mapping class="training.entity.Supplier" />
		<mapping class="training.entity.Employee" />
		<mapping class="training.entity.Customer" />
		<mapping class="training.entity.Order" />
		<mapping class="training.entity.LineItem" />
		<mapping class="training.entity.Shipper" />
		<mapping class="training.entity.Laptop" />
		
		
		<mapping class="training.entity.Human" />
		<mapping class="training.entity.Student" />
		<mapping class="training.entity.Professor" /> -->
	</session-factory>
</hibernate-configuration>